<launch>
	<master auto="start"/>

    <node name="convert" pkg="projeto_semear" type="convert_colorsensor" respawn="false" output="screen"/>

    <node name="navigating" pkg="projeto_semear" type="navigating_server" respawn="false" output="screen"/>

    <node name="path_planning" pkg="projeto_semear" type="path_planning_server" respawn="false" output="screen"/>

    <node name="gps" pkg="projeto_semear" type="gps" respawn="false" output="screen"/>
</launch>   